<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos mamañemas</title>
</head>
<body>
    <h1>mostrando relaciones con join</h1>
    <ul>
        {% for d in dispositivos %}
        <li>{{d.nombre}} - {{d.categoria}} {{d.categoria.estado }}</li>
        ir a <a href="{% url 'dispositivo' d.id %}">detalle</a>
        <a href="{% url 'editar_dispositivo' d.id %}">editar</a>
        <a href="{% url 'eliminar_dispositivo' d.id %}">eliminar</a>
        {% empty %}
        <li>No hay dispositivos</li>
        {% endfor %}
    </ul>
</body>
</html>